@import 'tailwindcss';

@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

@theme inline {
  --breakpoint-2md: 56.25rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-google-sans: var(--font-google-sans);
  --font-arial: var(--font-arial);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-hovered: var(--primary-hovered);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-header-text: var(--header-text);
  --color-body-text-1: var(--body-text-1);
  --color-body-text-2: var(--body-text-2);
  --color-icon-background: var(--icon-background);
  --color-error-red-2: var(--error-red-2);
  --color-error-light-red: var(--error-light-red);
  --color-warning-mustard: var(--warning-mustard);
  --color-warning-mustard-light: var(--warning-mustard-light);
  --color-success-green: var(--success-green);
  --color-success-faded-green: var(--success-faded-green);
  --color-success-light-green: var(--success-light-green);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --inset-shadow-sidebar:
    inset 0.6px 0.6px rgba(9, 85, 183, 0.1),
    inset -0.6px -0.6px rgba(9, 85, 183, 0.1);
  --reminder-tab-cols: repeat(3, minmax(13rem, 2fr));
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(46.96% 0.1694 258.31);
  --primary-foreground: oklch(1 0 0);
  --primary-hovered: oklch(0.44 0.1679 262.85);
  --secondary: oklch(70.88% 0.1637 244.53);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325); /** error-red */
  --border: oklch(0.922 0 0);
  --input: oklch(97.29% 0.0029 264.54);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(73.48% 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0.0142 254.6);
  --sidebar-accent-foreground: oklch(46.96% 0.1694 258.31);
  --sidebar-border: oklch(97.29% 0.0029 264.54);
  --sidebar-ring: oklch(46.96% 0.1694 258.31 / 10%);
  --header-text: oklch(0.22 0.0719 262.15);
  --body-text-1: oklch(73.48% 0 0);
  --body-text-2: oklch(36.39% 0 0);
  --head-text: oklch(21.52% 0.0719 262.15);
  --icon-background: oklch(0.98 0.0091 258.34);
  --error-red-2: oklch(0.62 0.1724 23.65);
  --error-light-red: oklch(0.95 0.0274 17.65);
  --warning-mustard: oklch(0.81 0.1438 77.64);
  --warning-mustard-light: oklch(0.98 0.0215 83.26);
  --success-green: oklch(0.65 0.1519 153.83);
  --success-faded-green: oklch(0.85 0.0664 161.06);
  --success-light-green: oklch(0.97 0.0214 163.07);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.58 0.22 27.53);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --header-text: oklch(0.22 0.0719 262.15);
  --icon-background: oklch(0.98 0.0091 258.34);
  --error-red-2: oklch(0.62 0.1724 23.65);
  --error-light-red: oklch(0.95 0.0274 17.65);
  --warning-mustard: oklch(0.81 0.1438 77.64);
  --warning-mustard-light: oklch(0.98 0.0215 83.26);
  --success-green: oklch(0.65 0.1519 153.83);
  --success-faded-green: oklch(0.85 0.0664 161.06);
  --success-light-green: oklch(0.97 0.0214 163.07);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--border);
  outline: 1px solid var(--border);
  border-radius: 20px;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-google-sans);
  color: var(--header-text);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='time']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* Firefox */
input[type='time']::-moz-focus-inner {
  border: 0;
}
input[type='time'] {
  appearance: none;
  -moz-appearance: none;
}

@keyframes animate-linear {
}
